*{
    
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.flex-container{

display: flex;
flex-flow: column nowrap;
}
    .header{
        background: url(../images/header.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap; /* Que se muestre en columna */
    }
    /* Hijos convertidos en padre también */
        .menu{
            
            display: flex;
            flex-flow: row nowrap; /* Que se muestre en fila */
            align-items: center;
        }
            .logo{
                flex: 1 1 auto;
            } 
                .logo img{
                    padding: 5px;
                    width: 100px;
                }
            .nav{
                flex: 5 1 auto;  
                
            }
                .nav a{
                    color: grey;
                    text-decoration: none;
                }
                    .nav a:hover{
                        color: salmon;
                    }
            .social{
                flex: 1 1 auto; 
                display: flex;
            }
                .social a{
                    color: grey;
                    
                }
                    .social a:hover{
                        color: salmon;
                    }
                
        .main-text{
            background-color: rgba(0, 0, 0, .1);
        }
            h1{
                background-color:rgba(f, f, f, .1);
                color: salmon; 
                font-family:cursive;
                text-align: center;
            }
    .section{
        background-color: #cdcdcd;
        display: flex;
        
    }
        .articles{
            background: #e9ecef;
            flex: 5 1 auto;
            display:flex;
            flex-flow: row wrap; /* Si los hijos no caben, se acomodan en otra fila*/
            text-align: center;
        }
            .article{
                background-color: rgb(237, 229, 229);
                flex: 1 1 40%;
            }
            .textArea{
                
            flex: 1 1 100%; /* Al ocupar el 100% pasa a la siguiente fila*/
            }
        .aside{
            background-color: #cdcdcd;
            flex: 1 1 auto;
            text-align: center;
           
        }
          
    .footer{
       background-color: grey; 
       display: flex;
       
    }
        .end{
            background-color: rgb(237, 229, 229);
            flex: 1 1 auto;
            text-align: center;

        }
            .p{
                color: black;
                
            }
            